*{ /* this is a universal property */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#91C7B1;
    box-sizing: border-box;
    margin: 10px auto;
}
body
{
    background-color: #293241;
}
#head{
    width: 960px;
    height: 200px;
    border: 1pt #5F464B solid;
    padding: 15px;
}
header{
    width: 18%;
    height: 85%;
    float: left;
    border: 1pt #5F464B solid;
    /* background-image: url(IMG/SB.png); */
    background-size: 200px 150px;
    background-repeat: no-repeat;
    background-position: center;
}
.Logo{
    padding: 5px;
    width: 165px;
    height: 120px;
    float: left;
    background-size: 200px 150px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
nav{
    width: 680px;
    float:right; 
}
article{
    width: 960px;
    height: 200px;
    padding: 15px;
    border: 1pt #5F464B solid;
}
a, a:active{
    text-decoration: none;
    color:gray
}
.navLI{
    display: inline-block;
    width: 150px;
    background-color: #80FFEC;
    text-align: center;
    padding: 3px;
    border-radius: 16px; /*make the navigation buttons go circul*/
}
a:hover{ /*changes hyperlink text colors when hovered*/
    color:cornsilk;
}
article{
    height: min-content; 
}
.secOne{
    width: 860px;
    height: 400px;
    padding: 15px;
    background-image: url(IMG/NGE.png);
    background-size: cover;
    background-position: center;
}    
.secTwo{
    width: 860px;
    height: 400px;
    padding: 15px;
    background-image: url(IMG/Guitar.jpg);
    background-size: cover;
    background-position: center;
}
.secThree{
    width: 860px;
    height: 400px;
    padding: 15px;
    background-image: url(IMG/Metallica.jpg);
    background-size: cover;
    background-position: center center;
}

#foot{
    width: 960px;
    height: 200px;
    padding: 15px;
    border: 1pt #5F464B solid;
}

*{ /* this is a universal property */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#91C7B1;
    box-sizing: border-box;
    margin: 10px auto;
}
body
{
    background-color: #293241;
}
#head{
    width: 960px;
    height: 200px;
    border: 1pt #5F464B solid;
    padding: 15px;
}
header{
    width: 18%;
    height: 85%;
    float: left;
    border: 1pt #5F464B solid;
    /* background-image: url(IMG/SB.png); */
    background-size: 200px 150px;
    background-repeat: no-repeat;
    background-position: center;
}
.Logo{
    padding: 5px;
    width: 165px;
    height: 120px;
    float: left;
    background-size: 200px 150px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
nav{
    width: 680px;
    float:right; 
}
article{
    width: 960px;
    height: 200px;
    padding: 15px;
    border: 1pt #5F464B solid;
}
a, a:active{
    text-decoration: none;
    color:gray
}
.navLI{
    display: inline-block;
    width: 150px;
    background-color: #80FFEC;
    text-align: center;
    padding: 3px;
    border-radius: 16px; /*make the navigation buttons go circul*/
}
a:hover{ /*changes hyperlink text colors when hovered*/
    color:cornsilk;
}
article{
    height: min-content; 
}
.secOne{
    width: 860px;
    height: 400px;
    padding: 15px;
    background-image: url(IMG/NGE.png);
    background-size: cover;
    background-position: center;
}    
.secTwo{
    width: 860px;
    height: 400px;
    padding: 15px;
    background-image: url(IMG/Guitar.jpg);
    background-size: cover;
    background-position: center;
}
.secThree{
    width: 860px;
    height: 400px;
    padding: 15px;
    background-image: url(IMG/Metallica.jpg);
    background-size: cover;
    background-position: center center;
}

#foot{
    width: 960px;
    height: 200px;
    padding: 15px;
    border: 1pt #5F464B solid;
}
