<<<<<<< HEAD
*{ /* this is a universal property */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#76B9B0;
    box-sizing: border-box;
    margin: 10px auto;
}
body
{
    background-color: #0D1F22;
}
#head{
    width: 960px;
    height: 200px;
    border: 1pt #880000  solid;
    padding: 15px;
}
header{
    width: 18%;
    height: 85%;
    float: left;
    border: 1pt #880000  solid;
}
.Logo{
    padding: 5px;
    width: 165px;
    height: 120px;
    float: left;
    background-size: 200px 150px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
nav{
    width: 680px;
    float:right; 
}
article{
    width: 960px;
    height: 200px;
    padding: 15px;
    border: 1pt #880000 solid;
}
a, a:active{
    text-decoration: none;
    color: white;
}
.navLI{
    display: inline-block;
    width: 150px;
    background-color: #880000;
    text-align: center;
    padding: 3px;
    border-radius: 16px; /*make the navigation buttons go circul*/
}
a:hover{ /*changes hyperlink text colors when hovered*/
    color: #0D1F22;
}
article{
    height: min-content; 
}
h3{
    color: #880000;
}
h4{
    color:white
}
.secOne{
    width: 860px;
    height: 400px;
    padding: 15px;
    background-image: url(IMG/NGE.jpg);
    background-size: cover;
    background-position: center;
}    
.secTwo{
    width: 860px;
    height: 400px;
    padding: 15px;
    background-image: url(IMG/Guitar.jpg);
    background-size: cover;
    background-position: center;
}
.secThree{
    width: 860px;
    height: 400px;
    padding: 15px;
    background-image: url(IMG/Metallica.jpg);
    background-size: cover;
    background-position: center;
}

#foot{
    width: 960px;
    height: 200px;
    padding: 15px;
    border: 1pt #880000 solid;
}
.footH, a:active{
    text-decoration: none;
    color:#880000;
}
.footH:hover{
    color:white;
}

=======
*{ /* this is a universal property */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#76B9B0;
    box-sizing: border-box;
    margin: 10px auto;
}
body
{
    background-color: #0D1F22;
}
#head{
    width: 960px;
    height: 200px;
    border: 1pt #880000  solid;
    padding: 15px;
}
header{
    width: 18%;
    height: 85%;
    float: left;
    border: 1pt #880000  solid;
}
.Logo{
    padding: 5px;
    width: 165px;
    height: 120px;
    float: left;
    background-size: 200px 150px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
nav{
    width: 680px;
    float:right; 
}
article{
    width: 960px;
    height: 200px;
    padding: 15px;
    border: 1pt #880000 solid;
}
a, a:active{
    text-decoration: none;
    color: white;
}
.navLI{
    display: inline-block;
    width: 150px;
    background-color: #880000;
    text-align: center;
    padding: 3px;
    border-radius: 16px; /*make the navigation buttons go circul*/
}
a:hover{ /*changes hyperlink text colors when hovered*/
    color: #0D1F22;
}
article{
    height: min-content; 
}
h3{
    color: #880000;
}
h4{
    color:white
}
.secOne{
    width: 860px;
    height: 400px;
    padding: 15px;
    background-image: url(IMG/NGE.jpg);
    background-size: cover;
    background-position: center;
}    
.secTwo{
    width: 860px;
    height: 400px;
    padding: 15px;
    background-image: url(IMG/Guitar.jpg);
    background-size: cover;
    background-position: center;
}
.secThree{
    width: 860px;
    height: 400px;
    padding: 15px;
    background-image: url(IMG/Metallica.jpg);
    background-size: cover;
    background-position: center;
}

#foot{
    width: 960px;
    height: 200px;
    padding: 15px;
    border: 1pt #880000 solid;
}
.footH, a:active{
    text-decoration: none;
    color:#880000;
}
.footH:hover{
    color:white;
}

>>>>>>> 38fcec389c9cad30eedb95eb6e320d223917a865
