*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color:#880000;
    margin: 0;
}
body {
    background-color: #ffe1a8;
    background-size: 100% 100%;
    }
h1{
    color: #ffd304;
    font-size: 44pt;
}
h3{
    font-size: 25pt;
    margin-bottom: 5px;
}
h4{
    font-size: 15pt;
    margin-bottom: 15px;
}
li{
    margin-bottom: 15px;
}
p{
    margin-top: 15px;
    font-size: 14pt;
    padding: 5pt;
}
hr{
    border: 1px #880000 solid;
}
#head{
        /* width: 5000px; */
        background-color: #d6001c;
        height: 100px;
        padding: 10px;
        margin-bottom: 50px;
    }
nav{
    margin-top:-32px;  
    width: 1080px;
    float:right;
    font-size: 19pt; 
    overflow: hidden;
}
.navLI{
    display: inline-block;
    width: 250px;
    height: 50px;
    background-color: #880000;
    text-align: center;
    padding: 10px;
    border-radius: 16px; 
    }
.IDK, a:active{
    text-decoration: none;
    color: white;
}
.IDK:hover{
    color:#ffd304;
}

#Intro{
    padding: 10px;
}
article{
     padding: 15px;
     float: left;
     width: 75%;
     font-size: 14pt;     
}
aside{
    margin-top: 27px;
    padding: 0px;
    float: right;
    width: 20%;
    margin: 15px;
}
.timeL{
    clear: left;
    clear:right;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}
#signP{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}
footer{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}
